In [25]:

import pandas as pd
from sklearn.model_selection import train_test_split

In [17]:
df=pd.read_csv('house_prices.csv')

In [18]:
df.head()

   house_id neighborhood  area  bedrooms  bathrooms      style    price
0      1112            B  1188         3          2      ranch   598291
1       491            B  3512         5          3  victorian  1744259
2      5952            B  1134         3          2      ranch   571669
3      3525            A  1940         4          2      ranch   493675
4      5108            B  2208         6          4  victorian  1101539

In [21]:
df[['ranch','victorian']]=pd.get_dummies(df['style'],drop_first=True).astype('int')

In [23]:
df.drop(columns=['style'],inplace=True)

In [24]:
df.head()

   house_id neighborhood  area  bedrooms  bathrooms    price  ranch  victorian
0      1112            B  1188         3          2   598291      1          0
1       491            B  3512         5          3  1744259      0          1
2      5952            B  1134         3          2   571669      1          0
3      3525            A  1940         4          2   493675      1          0
4      5108            B  2208         6          4  1101539      0          1

In [26]:
y=df['price']

In [28]:
X=df.drop(columns=['price'])

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X.values,y)