<a id='intro'></a>
## Introduction

The dataset contains data about the patients missing doctor appointments. It includes 110527 data samples with 22319 data samples showing patiets who missed the appointments representing 20% of the whole dataset.

## Questions to be answered:
<h3>1.How many people did not show up for the appointment?</h3><br>
<h3>2. What is the ratio of men to women concerning attending or missing the appointments?</h3><br>
<h3>3. Does the sms_received column have an impact on the indivduals attendance?</h3><br>
<h3>4. Who are most likely not to show up ?</h3><br>

In [1]:
import pandas as pd

C:\Users\Mohammed\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Mohammed\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df=pd.read_csv("no_show.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [6]:
df.drop(columns=['PatientId','AppointmentID'],inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110527 non-null  object
 1   ScheduledDay    110527 non-null  object
 2   AppointmentDay  110527 non-null  object
 3   Age             110527 non-null  int64
 4   Neighbourhood   110527 non-null  object
 5   Scholarship     110527 non-null  int64
 6   Hipertension    110527 non-null  int64
 7   Diabetes        110527 non-null  int64
 8   Alcoholism      110527 non-null  int64
 9   Handcap         110527 non-null  int64
 10  SMS_received    110527 non-null  int64
 11  No-show         110527 non-null  object
dtypes: int64(7), object(5)
memory usage: 10.1+ MB

In [9]:
df.rename(columns={i:i.lower() for i in df.columns},inplace=True)

In [10]:
df.columns

Index(['gender', 'scheduledday', 'appointmentday', 'age', 'neighbourhood',
       'scholarship', 'hipertension', 'diabetes', 'alcoholism', 'handcap',
       'sms_received', 'no-show'],
      dtype='object')

In [12]:
df['no-show'].value_counts()

no-show
No     88208
Yes    22319
Name: count, dtype: int64

In [29]:
# df[(df['gender']=='M') & (df['no-show']=='Yes')].count()
no_show_m=df[df['gender']=='M']['no-show'].value_counts()[1]
total_m=df[df['gender']=='M'].shape[0]
no_show_m_ratio=no_show_m/total_m
print(no_show_m_ratio)
# print(df[df['gender']=='F']['no-show'].value_counts())

no_show_m=df[df['gender']=='F']['no-show'].value_counts()[1]
total_m=df[df['gender']=='F'].shape[0]
no_show_m_ratio=no_show_m/total_m
print(no_show_m_ratio)

0.19967947889471915
0.20314587973273943

C:\Users\Mohammed\AppData\Local\Temp\ipykernel_5360\2945382644.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  no_show_m=df[df['gender']=='M']['no-show'].value_counts()[1]
C:\Users\Mohammed\AppData\Local\Temp\ipykernel_5360\2945382644.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  no_show_m=df[df['gender']=='F']['no-show'].value_counts()[1]

In [55]:
sub=df.groupby(by=['gender','no-show'],as_index=False).count()[['gender','no-show','hipertension']]

In [71]:
s=df.groupby(by=['gender','no-show']).count().reset_index()
s.head()

,gender,no-show,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received
0,F,No,57246,57246,57246,57246,57246,57246,57246,57246,57246,57246
1,F,Yes,14594,14594,14594,14594,14594,14594,14594,14594,14594,14594
2,M,No,30962,30962,30962,30962,30962,30962,30962,30962,30962,30962
3,M,Yes,7725,7725,7725,7725,7725,7725,7725,7725,7725,7725

,gender,no-show,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received
0,F,No,57246,57246,57246,57246,57246,57246,57246,57246,57246,57246
1,F,Yes,14594,14594,14594,14594,14594,14594,14594,14594,14594,14594
2,M,No,30962,30962,30962,30962,30962,30962,30962,30962,30962,30962
3,M,Yes,7725,7725,7725,7725,7725,7725,7725,7725,7725,7725

In [56]:
sub.head()

  gender no-show  hipertension
0      F      No         57246
1      F     Yes         14594
2      M      No         30962
3      M     Yes          7725

In [78]:
sub=df.groupby(by=['sms_received','no-show'],as_index=False).count()[['sms_received','no-show','hipertension']]

In [79]:
sub.head()

   sms_received no-show  hipertension
0             0      No         62510
1             0     Yes         12535
2             1      No         25698
3             1     Yes          9784

In [91]:
sub[(sub['sms_received']==0) & (sub['no-show']=='Yes')]['hipertension']/sub[(sub['sms_received']==0)]['hipertension'].sum()

1    0.167033
Name: hipertension, dtype: float64

In [93]:
sub[(sub['sms_received']==0) & (sub['no-show']=='Yes')]

   sms_received no-show  hipertension
1             0     Yes         12535

In [101]:
(df[(df['sms_received']==0) & (df['no-show']=='Yes')].shape[0]/df[df['no-show']=='Yes'].shape[0])*100

56.16291052466509

In [102]:
(df[(df['sms_received']==1) & (df['no-show']=='Yes')].shape[0]/df[df['no-show']=='Yes'].shape[0])*100

43.83708947533492